#element {
    position: relative;
    min-height: 350px;
    display: flex;
    align-items: center;
}

#element.full-height {
    min-height: calc(100vh - 75px);
}

#element > div:first-child {
    width: 100%;
}

#image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1005;
    object-fit: cover;
    object-position: center;
    display: block;
    top: 0;
}

.row {
    z-index: 1006;
    margin: 50px auto;
    position: relative;
}

.column {
    width: 100%;
}

#element[data-align="left"] .column {
    text-align: left;
}

#element[data-align="center"] .column {
    text-align: center;
}

#element[data-align="right"] .column {
    text-align: right;
}

#element.light-color {
    color: #333;
}

#element.light-color h1, #element.light-color h2, #element.light-color h3, #element.light-color p {
    /* text-shadow: 0px 0px 5px #000; */
}